// --------------------------------------------------
// Variables
// --------------------------------------------------
$dark-blue: #2C3E50;
$red: #E74C3C;
$white: #ECF0F1;
$bright-blue: #ECF0F1;
$light-blue: #2980B9;

// --------------------------------------------------
// Mixins
// --------------------------------------------------
@mixin clearAfter() {
    content:"";
    display:table;
    clear:both;
}


