// --------------------------------------------------
// Variables
// --------------------------------------------------
$dark-blue: #2C3E50;
$red: #E74C3C;
$white: #ECF0F1;
$bright-blue: #ECF0F1;
$light-blue: #2980B9;
// --------------------------------------------------
// Mixins
// --------------------------------------------------
@mixin clearAfter() {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: $white;
}
.wrapper {
	height:100%;
}
.mapContainer {
    width: 100%;
    height: 100%;
}
html,body,#map { 
	height: 100%; 
}

// --------------------------------------------------
// Responsive Styles
// --------------------------------------------------
@import '_typography.scss';
// --------------------------------------------------
// Header Styles
// --------------------------------------------------
@import '_header.scss';
// --------------------------------------------------
// Footer Styles
// --------------------------------------------------
@import '_footer.scss';
// --------------------------------------------------
// Responsive Styles
// --------------------------------------------------
@import '_responsive.scss';
